html,
body {
  margin: 0;
  padding: 0;
  background-color: #020617;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
}

html {
  font-size: 17px;
}

body {
  font-weight: 400;
  color: #e2e8f0;
}
