@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple global styles */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #020617; /* dark navy */
  color: #e5e7eb;           /* light gray text */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
}
